.GamesList

  margin-top 1.5em

  &-data
    display flex
    &-gameName
      flex 1
      margin-bottom 0.1em
    &-a
      flex 1
      text-decoration none
      margin-bottom 0.1em
      width 5em
      display inline-block
      border 1px solid #808080
      background #148013
      &:hover
        background #22ff1e
        text-decoration underline
        color #990000
        font-weight bold
